@import '../../assets/styles/vars';
@import '../../../node_modules/rfs/scss/_rfs';
/*=====================================
Inner Header Style
=======================================*/
$toolbar-padding: 0 15px;

.inner-header {
  position: relative;
  z-index: 99;
  
  > .toolbar {
    height: $inner-header-height !important;
    line-height: $inner-header-height !important;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.025), 0 10px 10px 0 rgba(0, 0, 0, 0.025), 0 0px 10px 0 rgba(0, 0, 0, 0.025) !important;

    .toolbar__content {
      padding: $toolbar-padding !important;
      height: $inner-header-height !important;
      line-height: $inner-header-height !important;
      max-width: 100%;

      .toolbar__title {
        font-size: 16px !important;
        font-weight: bold !important;
        color: $black-color !important;
      }

      nav {
        height: $inner-header-height - 15 !important;
        margin: 5px 0;

        a {
          float: left;
          width: $inner-header-height - 10 !important;
          height: $inner-header-height - 10 !important;
          margin-right: 10px;

          img {
            display: block;
            width: $inner-header-height - 10 !important;
            height: $inner-header-height - 10 !important;
          }
        }

        .menu {
          display: inline-block;
          width: $inner-header-height - 15 !important;
          height: $inner-header-height - 15 !important;
          vertical-align: top;
          counter-reset: count;
          .btn {
            background: $white-color !important;
            border-radius: 50%;
            box-shadow: unset;
            margin: 0;
            min-width: unset;

            #unread-counter {
              position: absolute;
              top: 0;
              right: -8px;
              display: block;
              border-radius: 8px;
              width: 16px;
              height: 16px;
              background-color: #e74c3c !important;
              color: #fff;
              font-size: 12px;
              line-height: 16px;
              font-weight: 100;
            }
            
            .btn__content {
              overflow: hidden;
              width: $inner-header-height - 15;
              padding: 0;

              img {
                display: block;
                width: $inner-header-height - 15 !important;
                height: $inner-header-height - 15 !important;
              }

              span {
                width: 100%;
                background-color: $primary-color !important;
                color: $white-color;
              }
            }
          }
        }
      }

      .btn {
        color: $primary-color !important;
        width: $inner-header-height / 1.5 !important;
        height: $inner-header-height / 1.5 !important;

        .icon {
          width: $inner-header-height / 2 !important;
          height: $inner-header-height / 2 !important;
          font-size: $inner-header-height / 2 !important;
        }
      }
    }
  }
  .toolbar 
  .toolbar__content 
  .login-btn{
    font-size: 12px;
    margin-top: 1px;
    padding: 0 8px !important;
    color: #2c3e50 !important;
    border: 1px solid #ddd;
  }
}

.menu__content.notifications-menu {
  top: -1px !important;
  margin-left: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25) !important;
  width: 300px;

  a {
    color: $black-color;
  }
  
  .card {
    padding: 0;
    
    .list {
      padding: 0;
      &:first-of-type {
        padding: 5px 0;
        background-color: #fafafa;
        border-bottom: 1px solid #eee;
      }
  
      .list__tile {
        direction: ltr;
        
        &.list__tile--avatar {
          height: 40px;
          padding: 0 10px;
          
          a {
            display: flex;
            align-items: center;
            
            .avatar {
              height: $inner-header-height - 15 !important;
              width:  $inner-header-height - 15 !important;
              
              span {
                border-radius: inherit;
                width: 100%;
                height: 100%;
                background-color: $primary-color !important;
                line-height: 32px;
                color: $white-color;
              }
            }
          }
        }
      }
      .notification {
        .list__tile {
          direction: rtl;
          width: 100%;
          min-height: 24px;
          height: unset;
          padding: 5px 10px;
          font-size: 12px;
          .list__tile__title {
            text-align: right;
            height: auto;
            white-space: inherit;
            min-height: 24px;
            a{
              display: block;
              width: 100%;
              line-height: normal;
            }
            .icon{
              font-size: 22px;
              color: #919191;
              direction: rtl;
              width: auto;
            }
          }
          &:hover{
            background-color: #ffffcd;
          }
        }
  
        &.unread {
          background-color: #d1f0ff;
        }
      }
    }
  
    .card__actions {
      justify-content: center;
      padding: 10px 0;
      border-top:1px solid #eee; 
      a {
        display: flex;
        margin: 0 9px;
        i{
          margin-left: 3px;
          color:#999;
        }
      }
    }
  }
}

#drift-widget {
  display: none !important;
}