{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

<table style="width: 100%; direction: rtl; border-collapse: collapse;">
    <thead>
      <tr style="text-align: center;">
        <td style="padding:20px 0 10px;">
          <img src="https://forums.coretabs.net/uploads/default/original/1X/a5ccc636dda6380ef461b51f79ea34b5633457e5.png" alt="Coretabs logo" width="200">
        </td>
      </tr>
    </thead>
    <tbody style=" background: #fafafa; padding: 20px;">
      <tr style="padding:20px; text-align: center;">
        <td style="padding-top: 40px;">
          <h2>مرحباً {{ name }}</h2>
          <p style="font-size: 18px; max-width: 600px; margin: 0 auto;"></p> لقد وصلتنا رسالتك، سنقوم بالإطلاع عليها والرد عليك خلال الـ48 ساعة القادمة، شكراً لتواصلك معنا</p>
        </td>
      </tr>
      <tr style="padding:20px; text-align: center;">
        <td style="padding: 0 0 50px;">
          <div style="max-width: 350px; margin: 30px auto 0;">
            <img style="width: 100%" src="https://forums.coretabs.net/uploads/default/original/1X/0ea1202b81d6bb0a33c2d3e1d8c1c149fa925ef1.png" alt="">
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr style="text-align: center;">
        <td>
          <span style="display: block; padding-top: 30px; color: #666;">مع أطيب الأمنيات</span>
          <span  style="display: block; color: #666;">فريق أكاديمية كورتابز</span>
        </td>
      </tr>
      <tr style="text-align: center; ">
        <td style="padding: 15px 0 30px;">
            <a href="https://www.facebook.com/coretabs.academy/" style="padding: 3px; text-decoration: none;" target="_blank" title="facebook">
                <img src="https://forums.coretabs.net/uploads/default/original/1X/f626d1403b20960c174d1b6adeec4c0fde4277de.png" alt="facebook">
            </a>
            <a href="https://twitter.com/CoretabsAcademy" style="padding: 3px; text-decoration: none;" target="_blank" title="twitter">
              <img src="https://forums.coretabs.net/uploads/default/original/1X/6f8cb52ab0203ac1d7b8bbedd1b09c087db7a727.png" alt="twitter">
            </a>
            <a href="https://www.youtube.com/channel/UCe47ca6TFCIIglUsgK5Ml3w?view_as=subscriber" target="_blank" style="padding: 3px; text-decoration: none;" title="youtube">
              <img src="https://forums.coretabs.net/uploads/default/original/1X/6fdc398d1e4fa619fee7611d67b1092807305db5.png" alt="youtube">   
            </a>
        </td>
      </tr>
    </tfoot>
  </table>
{% endblocktrans %}{% endautoescape %}
