# django secret key
SECRET_KEY=zby2z^8x2(zlhlfa233=-ji9eq)$$&^aa-vjs@8a)u0h0t#eqh^

# database url
DATABASE_URL=postgres://app_user:MySup3rPassword!@db/app_db

# email
EMAIL_HOST=your_smtp_server
EMAIL_HOST_USER=your_email
EMAIL_HOST_PASSWORD=your_email_pass

# discourse settings
DISCOURSE_BASE_URL=discourse_domain_name
DISCOURSE_SSO_SECRET=your_discourse_secret
DISCOURSE_API_KEY=123456
DISCOURSE_API_USERNAME=your_discourse_user

# logging and errors
MANAGERS_EMAILS=manager1@email.com;manager2@email.com
SENTRY_DSN=https://your_sentry_dns