@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';

.mother-container {
  box-shadow: 5px 2px 14px #d8d7d7, -3px 6px 13px #d8d7d7;
  @include border-radius(20px);
  margin: 0 auto;

  @media (max-width: 1440px){
    max-width: 65%;
  }

  @media (max-width: 1366px){
    max-width: 70%;
  }

  @media (max-width: 1024px){
    max-width: 70%;
  }

  @media (max-width: 1023px){
    max-width: 90%;
  }

  @media (min-width: 1441px){
    max-width: 55%;
  }


  .alert {
    text-align: right;
    border-radius: 10px;
    margin: 0 0 10px;
    padding: 10px 10px 12px;
    border-color: transparent !important;

    &.alert {
      border-color: transparent !important;
    }
  }

  .grid-container {
    background:$grading-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .image-container {
      width: 100%;
      padding: 40px 0 0 0;

      .pic-border {
        border:4px solid #fff;
        width: 120px;
        height:120px;
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        margin:20px auto 0;
        
        @include box-shadow(0px, 0px, 15px , 5px , rgba(0,0,0,0.1));
        .pic {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .leave {
          position: absolute;
          bottom: 0;
          right:0;
          width: 35px;
          height:35px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-left-radius: 22px;
          border-top-left-radius: 22px;
          i{
            font-size: 20px !important;
            color: #8997a4;
          }
        }
      }
    }

    .info-container {
      padding: 20px 0 40px 0;
      text-align: center;
      @include rfs(15);

      h3 {
        color:#fff ;
      }

      span {
        color: $secondary-color;
      }
    }
  }

  .form-container {
    direction: rtl;
    padding: 20px;

    #submit {
      height: 40px;
      right: 0;
      padding:5px 30px;
      margin: 20px 0px 0 !important;
      background:$grading-color;
      color:#fff !important;

      &.btn--disabled {
        background: #d5d5d5 !important;
        color: #fff !important;
      }
    }

    .input-group.disabled {
      .input-group__details {
        min-height: 10px;
      }

      .icon--disabled {
        display: none;
      }
    }

    .input-group--text-field label {
      max-width: unset;
      text-align: right;
      transform-origin: top right;
    }

    .input-group--required label:after {
      content: "";
    }

    .input-group--error label:after {
      content: " *";
    }

    .input-group--text-field .input-group__counter {
      margin-left: unset;
      margin-right: auto;
    }
  }

  @media screen and (min-width: 600px) {
    .grid-container {
      .image-container {
        padding: 40px 0 40px 20px;
      }

      .info-container {
        padding: 60px 40px 40px 0;
        text-align: left !important;
      }
    }
  }
  @media screen and (min-width: 960px) {
    .grid-container {
      border-top-left-radius: 20px;
      border-top-right-radius: 0px !important;
      border-bottom-left-radius: 20px;

      .image-container {
        padding: 40px 0 0 0;
      }

      .info-container {
        padding: 30px 35px 0 !important;
        
        span{
          display: block;
          padding-top: 5px !important;
        }
      }
    }

    .form-container {
      padding: 40px;
    }
  }
}