@import '../../../assets/styles/vars';
@import '../../../../node_modules/rfs/scss/_rfs';
/*=====================================
Profile About
=======================================*/
$card: (
  max-width: 1080px,
  height: auto,
  icon-size: 38px,
  margin-bottom: 40px,
  padding: 8px 0,
  background: $white-color   
);

$card1: (
  text: (margin: 0 10px 0 0, ar-margin: 0 0 0 10px, font-size:1em)
);

.card {
  overflow: hidden !important;
  border-radius: 15px !important;
  max-width: map-deep-get($card,'max-width') !important;
  height: map-deep-get($card,'height') !important;
  margin-bottom: map-deep-get($card,'margin-bottom') !important;
  margin-left: auto;
  margin-right: auto;
  background: map-deep-get($card,'background') !important;
  @include box-shadow(0px, 5px, 20px, 0px, $shadow-color,true);


  &:nth-child(1) {
    .flex {
      padding: 40px !important;
      
      &:first-of-type {
        border-left: 1px solid $shadow-color;
        
        @media (max-width: 960px) {
          border-left: none;
          border-bottom: 1px solid $shadow-color;;
        }
      }
    }
  }
}


.user-bio {
  line-height: 2.1rem;
  font-size: 14px;
  margin: 0;
  max-width: 500px;
}

.lang-items {
  margin-top: 25px;
  display: flex;

  .lang-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lang-item ~ .lang-item {
    margin-right: 1.5rem;
  }

  .lang-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #e2e2e2;
    color: #88919b;
    width: 48px;
    height: 48px;
    margin-bottom: 0.78rem;
  }
  
  .lang-title {
    color: #696969;
    font-size: 0.9rem;
  }
  
}

.flex {
  .about-item {
    &__title {
      margin-bottom: 16px;
    }
  }
  
  > .about-item:not(:last-child) {
    margin-bottom: 24px;
  }
}


.other-info {

  .links {
    display: flex;
    list-style-type: none;
    margin-top: 32px;

    &__item {
      &:not(:last-child) {
        margin-inline-end: 8px;
      }
      
      font-size: 16px;
      opacity: 0.6;
      position: relative;
      transition: opacity 0.3s ease;
  
      a {
        position: absolute;
        width: 100%;
        height: 100%;
      }
  
      &:hover {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
    }
  }
}