@import '../../../assets/styles/vars';
@import '../../../../node_modules/rfs/scss/_rfs';
/*=====================================
Profile About
=======================================*/

.user-bio {
  color: #222;
  line-height: 2.3rem;
  font-size: 14px;
}

.lang-items {
  margin-top: 30px;
  display: flex;

  .lang-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lang-item ~ .lang-item {
    margin-right: 1.5rem;
  }

  .lang-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #e2e2e2;
    width: 48px;
    height: 48px;
    margin-bottom: 0.78rem;
  }
  
  .lang-title {
    color: #666;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
}

.profile-icon {
  background-image: url('../../../assets/multimedia/icons/css_sprites.png');
  width: 16px; height: 16px;
  margin: 0 8px;
  opacity: .7;
  transition-duration: .4s;
}
.profile-icon:hover{
  opacity: 1;
}

.profile-icon:first-of-type{
  margin-right: 0;
}
.website-icon {
  background-position: -82px -10px;
}

.linkedin-icon {
  background-position: -10px -10px;
}

.twitter-icon {
  background-position: -10px -46px;
}

.facebook-icon {
  background-position: -46px -46px;
}

.google-plus-icon {
  background-position: -82px -46px;
}