@import '../../../assets/styles/vars';
@import '../../../../node_modules/rfs/scss/_rfs';
/*=====================================
Profile Certificates
=======================================*/
.certificates__title {
  margin-bottom: 16px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  
  .card {
    @include box-shadow(0px, 5px, 10px, 0px, $shadow-color);
    @include border-radius(16px);
    margin: 0 !important;
  }
  
  .card__title .card-title {
    min-height: 60px;
  }
  
  .card-title {
    color: #888;
    font-weight: normal;
  }
  
  .card-meta {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }
  
  .card-date-wrapper {
    display: flex;
    align-items: center;
  }
  
  .download-btn,
  .card-icon
  .card-date {
    color: #888 !important;
    transition-duration: .4s;
  }

  .download-btn{
    display: flex;
    align-items: center;
    align-content: space-between;
  }
  
  .card-icon {
    font-size: 1.5rem;
    margin-left: .3rem;
  }
  
  .download-btn:hover,
  .download-btn:hover .card-icon {
    color: $primary-color !important;
  }
  
  .card-date-wrapper .card-icon {
    margin-left: 0.5rem;
  }
  
  .card-icon ~ .card-icon {
    margin-right: 1rem;
  }
}

