@import '../../assets/styles/vars';
@import '../../../node_modules/rfs/scss/_rfs';
/*=====================================
Profile
=======================================*/

$content-padding: 50px;

main.profile-main-content,
main.profile-about-main-content,
main.profile-certificates-main-content,
main.profile-projects-main-content{
  padding-top: 0 !important;
  padding-right: $navigator-drawer-width !important;
  background: $workshop-content-background !important;
}

// .content {
//   padding-top: 3.5rem !important;
// }


.title {
  color: $heading-color;
  font-weight: 700;
}

#profile {

  .profile-sub-page {
    margin: 0 !important;
    padding: 0 !important;
    border-left: 0 !important;
    transition: none !important;
    overflow: hidden !important;
    background: #fbfbfb !important;
    height: 100%;

    > div {
      width: 100% !important;
      height: 100% !important;
      transition: none !important;
      overflow-x: hidden !important;
      user-select: text !important;
      padding: $content-padding !important;
      @media (max-width: 600px) {
        padding: 5% !important;
      }

      &::-webkit-scrollbar {
        background: $workshop-content-background !important;
      }
    }
  }

  .profile{
    border-left: 1px solid #e2e2e2;
    background-color: #fff;
    min-height: calc(100vh - #{$inner-header-height});
    @media (max-width: 960px) {
      min-height: auto;
    }
  }

  .profile-header {
    text-align: center;
    padding: 4rem 0 1.5rem;

    .avatar {
      position: relative;
      border-radius: 50% !important;
      height: 150px !important;
      width: 150px !important;
      align-self: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $white-color;
        font-size: 3rem;
      }
      
      &:hover .edit-image-btn{
        visibility: visible;
        opacity: 1;
      }
    }

    .edit-image-btn {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      transition: .4s;
      z-index: 1;
      .btn{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
      }
      a {
        margin: 0;
      }
      .icon{
        color: #fff;
      }
    }
    .user-badge {
      background: #ff742c;
      border-radius: 32px;
      padding: 5px;
      position: absolute;
      bottom: 4px;
      right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }

   
    
    .user-badge .icon {
      background: url('../../assets/multimedia/icons/css_sprites.png') -46px -10px;
      width: 16px; height: 16px;
    }

    .profile-username {
      color: $heading-color;
      font-size: 1.25rem;
    }
    
    .profile-subheading {
      font-size: 1.1rem;
      color: #696969;
      margin: 5px auto 12px;
      font-weight: 400;
      max-width: 200px;
    }
    
    .profile-location {
      color: #696969;
      display: flex;
      justify-content: center;
    }
    
    .profile-location .icon {
      color: #88919b;
    }
    
    .profile-location-title {
      margin-right: 0.25rem;
    }
    
    .edit-profile-btn{
      .btn{
        background: rgb(144,66,232);
        background: linear-gradient(90deg, rgba(144,66,232,1) 0%, rgba(42,60,217,1) 100%);
      }
    }

    .profile-subheader {
      color: #88919b !important;
      font-size: 1rem;
      font-weight: bold;
    }
    
    .profile-badge {
      position: relative;
    
      &::after {
        position: absolute;
        transform: translateY(-50%);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;
      }
      
      // &-verified::after {
      //   content: "check";
      //   font-family: Material Icons;
      //   font-size: 0.85rem;
      //   background: #3b58ea;
      //   margin-right: 8px;
      //   top: 48%;
      //   padding: 2px;
      //   line-height: 100%;
      // }
    }
    
    .user-level {
      border: 2px solid #dadada;
      color: #88919b;
      border-radius: 5px;
      padding: 4px 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }  
  }

  .tabs__item {
    padding: 3rem;
  }
  
  .tabs__item--active {
    color: $primary-color;
  }
  
  .accent {
    background-color: $primary-color !important;
  }
  
  .tabs__bar {
    padding-right: 3rem;
    border-bottom: 1px solid #e2e2e2;
    @media (max-width: 600px) {
      padding-right: 0;
    }
  }  

  @media (max-width: 600px) {
    .tabs__container{
      margin-top: 1.5rem;
    }
  }
}