@import '../../assets/styles/vars';
@import '../../../node_modules/rfs/scss/_rfs';
/*=====================================
settings Style
=======================================*/
$padding: 0 0 0 50px;
$ar-padding: 0 50px 0 0;
$stepper-icon-size: 25px;
$content-padding: 50px;
$drawer-group-height: 60px;

main.change-password-main-content,
main.change-track-main-content,
main.personal-info-main-content,
main.profile-info-main-content,
main.manage-projects-main-content,
main.settings-main-content {
  padding-top: 0 !important;
  padding-right: $navigator-drawer-width !important;
  background: $workshop-content-background !important;
}

html[dir='rtl'] {
  .settings {
    #sidenav.navigation-drawer {
      .toolbar {
        padding: 0 $scrollbar-width 0 0 !important;

        .btn {
          .icon {
            display: block !important;
          }
          // margin: $workshop-ar-margin !important;
        }

        .btn--icon {
          background: #393ba8 !important;
        }

      }
      
      .list {
        direction: rtl !important;
        a {
          color: #000000EE;

          &.router-link-active {
            color: #000000EE;

            .list__tile__action i {
              color: #4445e7 !important;
            }
          }
          .list__tile__action {
            min-width:35px;
            margin-right: 3px;
            i{
              color: #bbbbbb !important;
            }
          }

          .list__tile {
            padding: auto 13px;
            background: $white-color;
            height: 55px;
            margin-top: -1px;
            border-bottom: 1px solid #eee;
            @include box-shadow(0px, 1px, 5px ,0 , rgba(0,0,0,0.1));
            .list__tile__content {
              .list__tile__title {
                text-align: right !important;
              }
            }
          }
        }
      }
    }
  }
}

.settings {
  .stepper-item__active{
    position: relative;
  }
  .stepper-item__active::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right: 8px solid #9042e8; 
    z-index: 1;
  }
  height: 100% !important;
  overflow: hidden !important;
  position: relative !important;
  background: $white-color !important;

  #sidenav.navigation-drawer {
    height: 100vh !important;
    overflow: hidden !important;
    background: $workshop-drawer-background !important;
    @include box-shadow(0px, 15px, 34px, 0px, $shadow-color, true);

    &.navigation-drawer--is-mobile {
      .toolbar {
        .toolbar__content {
          .btn {
            .icon {
              display: block !important;
            }
          }
        }
      }
    }

    &.navigation-drawer--close {
      width: 0 !important;
    }

    .navigation-drawer__border {
      display: none !important;
    }

    .toolbar {
      background: $grading-color !important;
      padding: 0 0 0 $scrollbar-width !important;
      height: $inner-header-height !important;
      min-height: $inner-header-height !important;
      max-height: $inner-header-height !important;

      .toolbar__content {
        height: auto !important;
        min-height: $inner-header-height !important;
        max-height: $inner-header-height !important;

        .btn {
          color: $white-color !important;
          width: $stepper-icon-size !important;
          height: $stepper-icon-size !important;

          .icon {
            display: none !important;
            width: $stepper-icon-size !important;
            height: $stepper-icon-size !important;
            font-size: $stepper-icon-size !important;
          }
        }

        .toolbar__title {
          font-size: 16px !important;
          font-weight: bold !important;
          color: $white-color !important;
          margin-right: 3px;
        }
      }
    }

    .list {
      direction: rtl !important;
      overflow: hidden !important;
      background: $workshop-drawer-background !important;
      height: calc(100vh - #{$inner-header-height}) !important;
    }
    
    @media (max-width: 480px) {
      max-width: 80% !important;
    }
    
    @media (max-width: 1263px) {
      position: absolute;
    }
  }

  .content {
    margin: 0 !important;
    padding: 0 !important;
    border-left: 0 !important;
    transition: none !important;
    overflow: hidden !important;
    background: $workshop-content-background !important;

    > div {
      width: 100% !important;
      height: 100% !important;
      transition: none !important;
      user-select: text !important;
      overflow-x: hidden !important;
      padding: $content-padding !important;
      @media (max-width: 600px) {
        padding: 5% !important;
      }

      &::-webkit-scrollbar {
        background: $workshop-content-background !important;
      }
    }
  }
}
