@import '../../assets/styles/vars';
@import '../../../node_modules/rfs/scss/_rfs';
#certificate {
  #certificate-container{
    background: #fff;
    min-height: 700px;
    @include box-shadow(0px, 15px, 34px, 0px, $shadow-color);
    margin-bottom: 30px;
    min-width: 960px;
    height: auto;
    border: 25px solid #fafafa;
    // border-image-slice: 33% 33% 33% 33%; border-image-width: 1.5em 1.5em 1.5em 1.5em; border-image-outset: 0px 0px 0px 0px; border-image-repeat: round round; border-image-source: url("https://mdn.mozillademos.org/files/6009/border-image-2.png");
    box-sizing: border-box;
    text-align: left;
    padding: 40px 60px;
    color: #2c3e50;
    direction: ltr;
    position: relative;
    overflow: hidden;
    @media (max-width: 640px) {
      min-width: auto;
      padding: 40px;
      border: 15px solid #fafafa;
    }
    #certificate-header{
      img{
        width: 180px;
        margin-bottom: 10px;
        @media (max-width: 600px) {
          width: 160px;
        }
      }
      h2,h3{
        font-size: 20px;
        margin: 2px 0;
        @media (max-width: 600px) {
          font-size: 16px;
        }
      }
      h3{
        font-weight: normal;
        color: #6c737a;
      }
      h2{
        font-weight: 600;
      }
    }
    #certificate-name{
      text-transform: uppercase;
      margin: 30px 0;
      @media (max-width: 600px) {
        margin: 20px 0;
      }
      h1{
        font-weight: 600;
        font-size: 42px;
        @media (max-width: 600px) {
          font-size: 22px;
        }
      }
    }
    #certificate-desc{
      p,h2{
        margin: 2px 0;
      }
      p{
        font-size: 20px;
        color: #6c737a;
        @media (max-width: 600px) {
          font-size: 16px;
        }
      }
      h2{
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 600;
        @media (max-width: 600px) {
          font-size: 20px;
        }
      }
      blockquote{
        max-width: 520px;
        margin-top: 30px;
        font-size: 18px;
        color: #6c737a;
        line-height: 30px;
        position: relative;
        @media (max-width: 600px) {
          font-size: 16px;
        }
      }
      blockquote:after{
        content: "\201D";
        font-size: 150px;
        display: block;
        position: absolute;
        right: 40px;
        bottom: -80px;
        color: #e5e5e5;
        @media (max-width: 600px) {
          right: 0px;
          bottom: -60px;
        }
      }
    }
    #certificate-footer{
       position: absolute;
       bottom: 20px;
       @media (max-width: 600px) {
        position: relative;
        margin-top: 60px; 
      }
       div{
         font-weight: 600;
         font-size: 16px;
        
       }
       p,
       div{
        color: #6c737a;
        word-break: break-word;
       }
    }
    #certificate-ribbon{
      width:50px;
      height:400px;
      background: rgb(144,66,232);
      background: linear-gradient(180deg, rgba(144,66,232,1) 0%, rgba(42,60,217,1) 100%);
      position:absolute;
      right:18%;
      top:-300px;
      animation:drop forwards .8s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      @media (max-width: 600px) {
        right: 20px;
        width: 40px;
        height: 100px;
      }
      &:before{
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: -25px;
        border-left: 25px solid #293cd9;
        border-right: 25px solid #293cd9;
        border-bottom: 25px solid transparent;
        @media (max-width: 600px) {
          bottom: -20px;
          border-left: 20px solid #293cd9;
          border-right: 20px solid #293cd9;
          border-bottom: 20px solid transparent;
        }
      }
    }

    #certificate-signature{
      position: relative;
      #signature-name{
        position: absolute;
        bottom: -70px;
        left: 0; 
        right: 0; 
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        @media (max-width: 600px) {
          position: relative;
          text-align: left;
          bottom: 0;
        }
      }
      #signature-img{
        img{
          width: 150px;
          position: absolute;
          bottom: -60px;
          left: 0; 
          right: 0; 
          margin: 0 auto; 
          @media (max-width: 600px) {
            width: 100px;
            position: relative;
            margin-top: -50px;
          }
        }
      }
    }

    @keyframes drop{
      0%		{ top:-300px; }
      100%	{ top: 0; }
    }

  }

  #certificate-actions{
    padding: 25px;
    text-align: center;
    .btn{
      width: 100%;
      @include border-radius(40px);
      .icon{
        margin-left: 5px;
      }
    }
    .share-icon{
      font-size: 32px;
      padding: 30px;
    }
  }
  
}
